<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Spatiotemporal multilevel models</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <strong id="blog-title">
          <a href="index.html" rel="home"><h1>Spatiotemporal multilevel models</h1></a>
        </strong>

        <!-- <h1>Minimal</h1> -->
        <p>An open notebook by <a href="http://ivanhanigan.github.io/">Ivan Hanigan</a></p>
        <p><a href="README.html">README</a></p>
        <p><a href="https://coesra.org.au", target="_blank"><small>&nbsp&nbsp&nbsp&nbsp|---<font color="red">CoESRA Login</font></small></a></p>
        <p><a href="https://support.rstudio.com/hc/en-us/sections/200107586-Using-RStudio", target="_blank"><small>&nbsp&nbsp&nbsp&nbsp|---CoESRA Instructions</small></a></p>
        <p><a href="intro-to-r.html">1. Introduction to R</a></p>
        <p><a href="general-regression-vs-mixed-effects.html">2. General regression vs mixed-effects</a></p>
        <p><a href="schools.html">3. Schools</a></p>
        <p><a href="spatial-data-analysis.html">4. Spatial data analysis</a></p>
        <p><a href="TBA.html">5. Your own data</a></p>
        <p><a href="TBA.html">6. Spatio-temporal regression models</a></p>
        <p>All content is licenced with CC-BY-4.0.</p>
        <p class="view"><a href="http://github.com/ivanhanigan/spatiotemporal-multilevel-models">View the Project on GitHub</a></p>
      </header>
      <section>



<h3></h3>

<p>

<h2>{{ page.title }}</h2>

{{ content }}

</p>
<div id="disqus_thread"></div>
  <script type="text/javascript" src="http://disentanglethings.disqus.com/embed.js"> </script>
  <noscript>Please enable JavaScript to <a href="http://disentanglethings.disqus.com/?url=ref">view the discussion thread.</a></noscript>

      </section>
      <footer>
        <p>This project is maintained by <a href="http://github.com/ivanhanigan">Ivan Hanigan</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
