<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Spatiotemporal multilevel models</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <strong id="blog-title">
          <a href="index.html" rel="home"><h1>Spatiotemporal multilevel models</h1></a>
        </strong>

        <!-- <h1>Minimal</h1> -->
        <p>An open notebook by Ivan Hanigan</p>
        <p><a href="README.html">README</a></p>
        <p><a href="README.html">Introduction to R</a></p>
        <p><a href="compare-basic-regression-and-me.html">Mixed effects vs basic regression</a></p>
        <p><a href="README.html">A mixed-effects tutorial</a></p>

        <p><a href="intercepts-and-coefficients-that-vary.html">Varying slopes - RossRiverVirus</a></p>
        <p><a href="README.html">Schools, fitness and overweight</a></p>
        <p><a href="README.html">Spatio-temporal regression models</a></p>
        <p class="view"><a href="http://github.com/ivanhanigan/spatiotemporal-multilevel-models">View the Project on GitHub</a></p>
      </header>
      <section>



<h3></h3>

<p>

<h2>{{ page.title }}</h2>

{{ content }}

</p>
<div id="disqus_thread"></div>
  <script type="text/javascript" src="http://disentanglethings.disqus.com/embed.js"> </script>
  <noscript>Please enable JavaScript to <a href="http://disentanglethings.disqus.com/?url=ref">view the discussion thread.</a></noscript>

      </section>
      <footer>
        <p>This project is maintained by <a href="http://github.com/ivanhanigan">Ivan Hanigan</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
